@charset "UTF-8";
body {
    background: linear-gradient(0deg, #FBECD0 0%, #ffffff 100%);
    margin: 0 10%;
    font-family: sans-serif;
    border: 10px groove #FBECD0;
    border-radius: 25px;
    text-indent: 20px;
}

h1 {
    text-align: center;
    font-family: serif;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #57b1dc;
    margin-top: 30px;
}

h2 {
    color:coral;
    font-size: 1em;
}
footer {
  border-top: 1px solid #57b1dc;
  text-align: center;
  padding-top: 1em;
  text-indent: 20px;
}
footer img {
  width: 40px;
  height: 40px;
  margin-left: .5em;
  margin-right: .5em;
  text-indent: 20px;
 } 